body {
    letter-spacing: 1px;
    font-family: "Raleway", "Jost", sans-serif;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
    margin-bottom: 1rem;
}

h1,
.h1 {
    font-size: calc(1.75rem + 1.5vw);
    font-weight: 900;
}

h2,
.h2 {
    font-weight: 900;
}

@media (min-width: 1200px) {
    h1,
    .h1 {
        font-size: 3rem;
    }
}

// Tag icon for Section titles
.tag-icon {
    display: inline-block;
    margin-right: 5px;

    &::before {
        content: "</>";
        font-family: "Jost", sans-serif;
        font-size: 20px;
        font-weight: 900;
        color: $primary_two_yellow;
    }
}
