.about-me-wrapper {
    .about-me-text {
        margin-bottom: 90px;
        padding-top: 90px;
        text-align: center;

        h2,
        p {
            color: $primary_two_white;
        }

        p {
            font-size: 1.125rem;
            font-weight: 700;
            max-width: 750px;
            margin: 0 auto;
        }
    }

    .about-me-cards {
        border: 2px solid $gray-300;
        border-radius: 12px;
        background-color: $primary_two_yellow;

        .about-card {
            min-height: 150px;
            padding: 45px;

            &:nth-child(2) {
                border-left: 2px solid $gray-300;
                border-right: 2px solid $gray-300;
            }

            .card-icon {
                width: max-content;
                border: 2px solid $primary_one_black;
                border-radius: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 65px;
                height: 65px;
                margin-bottom: 30px;

                img {
                    width: 35px;
                }
            }

            .card-title {
                display: inline-block;
                font-size: 1.125rem;
                font-weight: 900;
                text-transform: uppercase;
                color: $primary_one_black;
                margin-bottom: 25px;
            }

            .card-list {
                list-style: none;
                padding: 0;
                margin: 0;
                color: $primary_two_white;
                font-weight: 900;
            }
        }
    }
}

@media (max-width: 576px) {
    .about-me-wrapper .about-me-cards {
        max-width: 80vw;
    }
}

@media (max-width: 992px) {
    .about-me-wrapper {
        .about-me-text {
            margin-bottom: 75px;
            padding-top: 75px;

            p {
                font-size: 1rem;
            }
        }

        .about-me-cards .about-card:nth-child(2) {
            border: 2px solid $gray-300;
            border-left: 0;
            border-right: 0;
        }
    }
}
