.contact-wrapper {
    margin-top: 75px;
    margin-bottom: 90px;
    min-height: calc(100vh - 75px);
    color: $primary_two_white;

    // Form Side
    .contact-form-wrapper {
        min-height: calc(100vh - 75px);
    }

    .contact-form-container {
        padding: 90px 45px 45px 1.5rem;
        background-color: $primary_one_black;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .contact-heading {
        font-size: 18px;
        font-weight: 700;
        position: relative;

        .heading-text {
            display: inline-block;
            background-color: $primary_one_black;
            color: $white-600;
            padding-right: 8px;
            position: relative;
            z-index: 1;
        }

        .heading-divider {
            display: inline-block;
            height: 2px;
            width: 100%;
            background-color: $white-600;
            border-radius: 100%;
            position: absolute;
            left: 0;
            bottom: 6px;
        }
    }

    .contact-info {
        padding: 45px 0;
        margin-bottom: 45px;
        list-style: none;

        li:nth-of-type(2) {
            margin-top: 15px;

            a {
                font-family: sans-serif;
            }
        }

        a {
            text-decoration: none;
            color: $primary_two_white;
            font-weight: 700;
            transition: all 0.2s;

            i {
                margin-right: 8px;
                font-size: 18px;
            }

            &:hover {
                color: $primary_two_yellow;
            }
        }
    }

    .contact-form {
        padding: 45px 0;

        .row {
            margin-bottom: 1.5rem;
        }

        .form-field {
            width: 100%;
            color: $primary_two_white;
            background: transparent;
            border: none;
            border-bottom: none;
            padding-top: 0.5rem;
            padding-bottom: 1rem;
            outline: none;
            max-height: 350px;

            &::placeholder {
                color: $primary_two_white;
            }

            &.error + .form-field-border {
                background-color: $red;
            }

            &:hover + .form-field-border {
                background-color: $primary_two_white;
            }

            &:focus + .form-field-border {
                background-color: $primary_two_yellow;
            }
        }

        .form-field-border {
            display: block;
            width: 100%;
            height: 2px;
            background-color: $white-600;
            border-radius: 100px;
            transition: all 0.2s;
            margin-top: -3px;
        }
    }

    .submit-btn {
        background-color: $primary_two_yellow;
        border: none;
        outline: none;
        border-radius: 100px;
        padding: 0.7em 1em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 8px;
        margin-top: 25px;
        color: $primary_one_black;

        .arrow {
            height: 2.5px;
            width: 25px;
            position: relative;
            display: inline-block;
            cursor: pointer;
            transition: all 0.4s ease;
            background-color: $primary_one_black;

            &:before,
            &:after {
                content: "";
                background: $primary_one_black;
                position: absolute;
                height: 2px;
                width: 10px;
                border-radius: 30%;
            }

            &:before {
                right: -2px;
                bottom: -3px;
                transform: rotate(-45deg);
            }

            &:after {
                right: -2px;
                top: -3px;
                transform: rotate(45deg);
            }
        }

        &:hover:enabled .arrow {
            width: 35px;
            margin-right: 5px;
            background: $primary_one_black;
        }

        &:disabled {
            opacity: .7;
        }
    }

    // Image Side
    .contact-image-container {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        position: absolute;
        right: 0;
        top: 75px;
        width: 50%;
        height: calc(100vh - 75px);
        z-index: -1;
    }
}

@media (max-width: 767px) {
    .contact-wrapper {
        // Form Side
        .contact-form-container {
            padding-right: 1.5rem;
        }

        // Image Side
        .contact-image-container {
            display: none;
        }
    }
}
