.footer {
    max-width: 100vw;
    overflow-x: hidden;

    .footer-bg {
        width: 100%;
        min-width: 1280px;
    }

    .footer-content {
        background-color: $primary_two_yellow;
        padding-top: 45px;
        margin-top: -1px;
    }

    // Contacts
    .footer-contacts {
        list-style: none;
        padding: 0;
        width: max-content;

        .footer-contact {
            display: flex;
            align-items: center;

            &:nth-of-type(2) {
                margin-top: 15px;
            }

            i {
                font-size: 1.5rem;
                margin-right: 8px;
            }

            a {
                text-decoration: none;
                font-size: 1.125rem;
                font-weight: 700;
                color: $primary_one_black;
                font-family: sans-serif;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;

                &::after {
                    content: "";
                    position: absolute;
                    left: 33px;
                    bottom: 0;
                    width: calc(100% - 33px);
                    height: 2px;
                    border-radius: 100px;
                    background-color: $primary_one_black;
                    opacity: 0;
                    transition: all 0.2s;
                }

                &:hover::after {
                    opacity: 1;
                }
            }
        }
    }

    // Social links
    .footer-social-links {
        width: max-content;
        margin-left: auto;

        .footer-social-links-heading {
            font-size: 1.125rem;
            font-weight: 700;
            color: $primary_one_black;
            width: max-content;
            display: flex;
            align-items: center;
            justify-content: center;

            i {
                font-size: 1.5rem;
                margin-right: 8px;
            }
        }

        .footer-social-links {
            list-style: none;
            padding-left: 33px;
            margin-top: 15px;
            margin-left: 0;
            width: max-content;

            a {
                position: relative;
                text-decoration: none;
                color: $primary_one_black;
                font-weight: 700;

                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 2px;
                    border-radius: 100px;
                    background-color: $primary_one_black;
                    opacity: 0;
                    transition: all 0.2s;
                }

                &:hover::before {
                    opacity: 1;
                }
            }
        }
    }

    // Second row
    .footer-row-two {
        display: flex;
        justify-content: right;
        padding-bottom: 30px;

        // Back to top
        .back-to-top-btn {
            background-color: transparent;
            border: 2px solid $primary_one_black;
            color: $primary_one_black;
            font-weight: 700;
            border-radius: 100px;
            padding: 0.6em 2em;
            transition: all 0.2s;

            &:hover {
                background-color: $primary_one_black;
                color: $primary_two_yellow;
            }
        }
    }

    // Third row
    .footer-row-three {
        border-top: 1px solid #d9d9d9;
        padding: 15px 0;

        .footer-build-by-col {
            text-align: right;
        }

        .footer-menu-col {
            text-align: center;
        }
    }

    .footer-copyright,
    .footer-build-by {
        font-size: 0.875rem;
        font-weight: 500;
        color: $primary_one_black;
    }

    .footer-build-by span {
        font-weight: 900;
    }

    .footer-menu .menu-link {
        position: relative;
        z-index: 1;
        text-decoration: none;
        color: $primary_one_black;
        text-transform: uppercase;
        font-weight: 900;
        margin: 0 12.5px;
        transition: color 0.2s ease, border-bottom-width 0.3s ease,
            padding-left 0.3s ease;

        &::before {
            content: "";
            position: absolute;
            bottom: -3px;
            left: 0;
            width: 0;
            height: 2px;
            background-color: $primary_two_white;
            transition: width 0.3s ease;
        }

        &:hover {
            color: $primary_two_white;

            &::before {
                width: 100%;
            }
        }
    }

    // Hamburger button
    .navbar-toggle {
        display: none;
    }
}

@media (max-width: 576px) {
    .footer {
        .footer-menu {
            display: none;
        }

        .navbar-toggle {
            position: relative;
            z-index: 1;
            display: flex;
            width: 29.33px;
            height: 29.33px;
            flex-direction: column;
            justify-content: space-around;
            cursor: pointer;
            margin: 0 auto;

            .line {
                width: 100%;
                height: 4.39px;
                background-color: $white;
                border-radius: 3px;
                transition: all 0.4s;
            }

            .line-transition {
                transition: all 0.1s;
            }
        }
    }
}

@media (max-width: 767px) {
    .footer {
        .footer-social-links {
            margin-top: 30px;
            margin-left: 0;
        }

        .footer-row-two {
            justify-content: center;
        }
    }
}

@media (max-width: 992px) {
    // Show footer menu first on mobile
    .footer .footer-row-three {
        .footer-menu-col {
            order: -1;
            border-bottom: 1px solid #d9d9d9;
            padding-bottom: 15px;
        }

        .footer-copyright,
        .footer-build-by {
            display: inline-block;
            padding-top: 15px;
        }

        .footer-copyright {
            padding-left: 1.5rem;
        }

        .footer-build-by {
            padding-right: 1.5rem;
        }
    }
}
