.homepage-hero-wrapper {
    position: relative;

    .hero-bg-wrapper {
        height: 100vh;
        width: 100vw;
        max-width: 100%;
        overflow: hidden;

        .hero-bg-grid {
            touch-action: none;
            z-index: -1;
        }

        .hero-bg-overlay {
            display: none;
        }
    }

    .hero-content-wrapper {
        position: absolute;
        z-index: -1;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $primary_two_white;
        text-align: center;
        width: 95vw;

        p {
            font-size: calc(0.9rem + 0.7vw);
            font-weight: 900;
        }
    }

    .scroll-down-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid $primary_two_yellow;
        border-radius: 100px;
        width: 55px;
        height: 55px;
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translate(-50%);
        transition: all 0.2s;
        text-decoration: none;
        color: $primary_two_yellow;
        font-size: 1.5625rem;

        i {
            margin-left: 1px;
        }

        &:hover {
            background-color: $primary_two_yellow;
            color: $primary_one_black;
        }
    }
}

@media (hover: none) {
    .homepage-hero-wrapper .hero-bg-wrapper .hero-bg-overlay {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}

@media (max-width: 576px) {
    .homepage-hero-wrapper .hero-content-wrapper p {
        max-width: 275px;
        margin: 0 auto;
    }
}

@media (min-width: 1200px) {
    .homepage-hero-wrapper .hero-content-wrapper p {
        font-size: 1.5rem;
    }
}
